page-login {
  .login-row {
    height: 100%;
  }
  .lock-col {
    height: 100%;
  }
  .lock-bg {
    height: 100%;
    width: 2px;
    background: #cecece;
    margin-left: 50%;
  }
  .lock-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2px;
  }
}
